.btn {
  &,
  &:link,
  &:visited {
   text-transform: uppercase;
   text-decoration: none;
   padding: 1.5rem 4rem;
   display: inline-block;
   border-radius: 10rem;
   transition: all .2s;
   position: relative;
   font-size: $default-font-size;

    //change for the <button> element
    border: none;
    cursor: pointer;

}

 &:hover {
   transform: translateY(-.3rem);
   box-shadow: 0 1rem 2rem rgba($color-black, .2);

   
   &::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
}

 &--white {
   color: $color-grey-dark;
   background-color: $color-white;

   &::after {
     background-color: $color-white;
}
}

&--green {
  color: $color-white;
  background-color: $color-primary;

  &::after {
    background-color: $color-primary;
  }

  @include respond(phone) {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
}

 &:active,
 &:focus {
   outline: none;
   transform: translateY(-.1rem);
   box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

 &::after {
   content: "";                  /* needed property in order to appear */
   display: inline-block;        /* same as above */
   height: 100%;
   width: 100%;
   border-radius: 10rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .4s;
}

 &--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
 }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;
  }

  &:hover {
    background-color: $color-primary;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}