*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;   // 1rem = 10px; 10px/16px = 62.5%

  @include respond(big-desktop) {  // width greater than 1800px
    font-size: 75%; //1rem = 12, 12/16 = 75%
  }

  @include respond(tab-land) {  // width less 1200px
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) { // width less 900px
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) { // width less 900px
    padding: 0;
  }

}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

